.main {
   height: 500vh;

   .cube {
      position: sticky;
      top: 0;
      height: 100vh;
   }
}

.mirror {
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.mirror {
   color: white;
   user-select: none;
}

// modal
.modal {
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   display: flex;

   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0, 0, 0); /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
