@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./location/style.css";
@import "./header.module.css";
@import "./search/search.css";

/* character */
@import "./Character/characterPage.css";

.container {
  @apply py-0 px-6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul,
li,
p,
div {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
